<div class="mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Keyword</label>
            <input
                type="text"
                name="q"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter something..."
            />
        
        <div class="form-group">
            <label for="genderInput">Keyword</label>
            <select name="gender" id="gender-input" class="form-control">
                <option value="">-- Select Gender --</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Search</button>
    </form>
</div>